{% extends '@EasyAdmin/default/layout.html.twig' %}

{% set dice = user.dice|split('-') %}
{% set res = user.result|split(',') %}

{% block main %}
<div>Bienvenue {{ user.playername|capitalize }} pour la partie</div>
<br/>

<div>Dernier jet:
  {% for key, die in dice %}
  {% if die == "b" %}
       <img src="../dice/blue.png" title="blue" />
  {% elseif die == "d" %}
       <img src="../dice/dark.png" title="dark" />
    {% elseif die == "g" %}
       <img src="../dice/green.png" title="green" />
    {% elseif die == "y" %}
       <img src="../dice/yellow.png" title="yellow" />
    {% elseif die == "p" %}
       <img src="../dice/purple.png" title="purple" />
    {% elseif die == "r" %}
       <img src="../dice/red.png" title="red" />
    {% elseif die == "f" %}
       <img src="../dice/force.png" title="force" />
  {% endif %}
  {% endfor %}
</div>
<br/>

<div>Résultat obtenu:
  {% for key, r in res %}
    <img src="../faces/{{ r }}.png" title="{{ r }}" />
  {% endfor %}
</div>
</br>

<div>
  {% if user.pic %}
    <img src="{{ user.pic }}" style="max-width:250px;" />
  {% endif %}
</div>

{% endblock %}

{% block body_javascript %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-62527606-2"></script>
<script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-62527606-2');
</script>
{% endblock %}
