@media screen and (orientation:landscape) {
    #clock {
      display: flex;
    }
    #playa {
      order: 1;
      height: 80%;
    }
    #interruption {
      order: 3;
      height: 20%;
    }
    #playb {
      order: 2;
      height: 80%;
    }
}

@media screen and (orientation:portrait) {
    #playa {
	height: 45%;
	-moz-transform: scale(-1, -1);
	-webkit-transform: scale(-1, -1);
	-o-transform: scale(-1, -1);
	-ms-transform: scale(-1, -1);
	transform: scale(-1, -1);
    }
/*    #interruption {
	height: 10%;
	-moz-transform: scale(-1, -1);
	-webkit-transform: scale(-1, -1);
	-o-transform: scale(-1, -1);
	-ms-transform: scale(-1, -1);
	transform: scale(-1, -1);
    }*/
    #playb {
	height: 45%;
    }
}
